body {
	font-family: sans-serif ;
	background: #282828 ;
	color: #fbf0c9;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

time {
	color: #c2c2c2;
	font-size: 12px;
}

a {
	color: #fe8019
}

.menu-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu-item {
	float: left;
	margin: 0 5px;
}

.menu-item a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-width: 1px;
	border-bottom-width: 1px;
	border-color: #282828;
	border-bottom-color: white;
	border-style: solid;
	transition-delay: 200ms;
	-moz-transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

.menu-item a:hover {
	background-color: #333;
	border-width: 1px 1px 1px 1px;
	border-color: white;
	border-style: solid;
}

.list-page-content {
	list-style-type: none;
	margin: 15px 0;
	padding: 1px 25px 35px 25px;
	background: #1d2021;
	border: 1px solid #fbf1c7;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #fe8019;
}

.list-page-content-head {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.read-truncated {
	text-decoration: none;
	/* background: #fbf1c7; */
	/* padding: 10px; */
	color: #fe8019;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
